*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background: url(../img/background.jpg) no-repeat center center/cover

.player-info 
    height: 100vh
    // margin-top: 30px
    display: flex
    flex-direction: column
    justify-content: center
    .text-inputs
        display: flex
        justify-content: center
        #text
            padding: 10px
            border: 1px solid black
            border-radius: 5px
            text-align: center
    #button
        padding: 10px
        margin: 0 45%
        margin-top: 30px
        &:hover
            cursor: pointer
    